*{
   margin:0;
   padding:0;
}
body{
     display:grid;
     grid-template-columns:35% 30% 35%;
     
}
.esquerda{
     
     background-color:#008000;
}
.estrada{
     display:grid;
     background-color:#363636;
     grid-template-columns:33.33% 33.33% 33.33%;
     grid-template-rows:20% 20% 20% 20% 20%;
}
.direita{
     background-color:#008000;
     display:flex;
     justify-content:center;
      align-items:flex-end;
}
.caresquerda{
          background-color:#363636; 
          grid-row-start:5;
          visibility:visible;
          display:block;
}
.carcentro{
          background-color:#363636; 
          grid-column-start:2;
          grid-row-start:5;
          visibility:hidden;
}
.cardireita{
          background-color:#363636; 
          grid-column-start:3;
          grid-row-start:5;
          visibility:hidden;
}
	

#in1{
     background-color:#363636; 
          grid-column-start:1;
          grid-row-start:1;
          visibility:hidden;
}
#in2{
     background-color:#363636; 
          grid-column-start:1;
          grid-row-start:2;
          visibility:hidden;
}
#in3{
        background-color:#363636; 
         grid-column-start:1;
         grid-row-start:3;
        visibility:hidden;
}
#in4{
     background-color:#363636; 
          grid-column-start:1;
          grid-row-start:4;
      visibility:hidden;
}
#in5{
     background-color:#363636; 
          grid-column-start:1;
          grid-row-start:5;
          display:none;
}
#explosao{
    background-color:#363636;
    grid-column-start:1;
          grid-row-start:5;
          display:none;
}
#explosao2{
    background-color:#363636;
    grid-column-start:2;
          grid-row-start:5;
          display:none;
}
#explosao3{
    background-color:#363636;
    grid-column-start:3;
          grid-row-start:5;
          display:none;
}

#inc1{
     background-color:#363636; 
          grid-column-start:2;
          grid-row-start:1;
          visibility:hidden;
}
#inc2{
     background-color:#363636; 
          grid-column-start:2;
          grid-row-start:2;
          visibility:hidden;
}
#inc3{
        background-color:#363636; 
         grid-column-start:2;
         grid-row-start:3;
        visibility:hidden;
}
#inc4{
     background-color:#363636; 
          grid-column-start:2;
          grid-row-start:4;
      visibility:hidden;
}
#inc5{
     background-color:#363636; 
          grid-column-start:2;
          grid-row-start:5;
          display:none;
}

#ind1{
     background-color:#363636; 
          grid-column-start:3;
          grid-row-start:1;
          visibility:hidden;
}
#ind2{
     background-color:#363636; 
          grid-column-start:3;
          grid-row-start:2;
          visibility:hidden;
}
#ind3{
        background-color:#363636; 
         grid-column-start:3;
         grid-row-start:3;
        visibility:hidden;
}
#ind4{
     background-color:#363636; 
          grid-column-start:3;
          grid-row-start:4;
      visibility:hidden;
}
#ind5{
     background-color:#363636; 
          grid-column-start:3;
          grid-row-start:5;
          display:none;
}
.jogar{
      width:75px;
      height:75px;
      border-radius:75px;
      color:white;
      background-color:blue;
}
.parar{
      width:75px;
      height:75px;
      border-radius:75px;
      color:white;
      background-color:blue;
}